<form [formGroup]="timeForm" (change)="durationToProject()">
  <label for="start-date">Planned start sate</label>
  <input id="start-date" type="date" formControlName="startDate">
  <div class="text-danger" *ngIf="startDate.invalid && startDate.touched">
    StartDate is required
  </div>

  <br>
  <label for="end-date">Planned end date</label>
  <input (keyup.enter)="getDuration()" id="end-date" type="date" formControlName="endDate">

  <br>
  <label for="duration">Duration</label>
  <input id="duration" type="number" formControlName="duration" [disabled]="disabled">
</form>
