<form [formGroup]="projectForm" (ngSubmit)="onSubmit()" novalidate>

  <div class="form-group">
    <label for="project-code">Project Code*</label>
    <input id="project-code" class="form-control" type="text" formControlName="projectCode">
    <div *ngIf="projectCode.invalid && (projectCode?.touched || projectCode?.dirty)" class="text-danger">
      <div *ngIf="projectCode?.errors.required">Project Code is required</div>
      <div *ngIf="projectCode.errors?.minlength">Minimum 6 character are required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="project-title">Project Title*</label>
    <input id="project-title" class="form-control" type="text" formControlName="projectTitle" required>
    <div *ngIf="projectTitle?.touched && projectTitle?.invalid" class="text-danger">
      <div *ngIf="projectTitle?.errors.required">Project Title is required</div>
      <div *ngIf="projectTitle.errors?.minlength">Minimum 8 character are required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea id="description" class="form-control-plaintext description" cols="30" rows="10" formControlName="description"></textarea>
  </div>

  <div class="form-group">
    <label for="impl-status" class="form-label">Implementation Status*</label>
    <select id="impl-status" class="form-select"  formControlName="implStatus">
      <option [disabled]="true">Select</option>
      <option class="dropdown-item" *ngFor="let status of statuses" >{{status}}</option>  <!--[ngValue]="status" (change)="changeStatus($event)"-->
    </select>

    <div *ngIf="implStatus?.valid">
      <sup>*</sup>Please enter Implementation status
    </div>
  </div>

  <div class="input-append date">
    <label for="planned-start-date">Planned Start Date*</label>
    <input id="planned-start-date" class="" type="date" formControlName="plannedStartDate" required>
    <div *ngIf="plannedStartDate?.touched && plannedStartDate?.invalid" class="text-danger">
      <div *ngIf="plannedStartDate?.errors.required">Project Code is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="planned-end-date">Planned End Date</label>
    <input id="planned-end-date" type="date" formControlName="plannedEndDate">
  </div>

  <div class="form-group">
    <label for="duration">Duration</label>
    <input id="duration" class="form-switch" type="text" fornControlName="duration">
  </div>

  <button [disabled]="!projectForm.valid" class="btn btn-danger btn-block" type="submit">Submit</button>


</form>
