<div class="accordion-header">
  <button class="btn-dark">CANCEL</button>
  <button class="btn-success" (click)="isProjectValid()">SAVE</button>
  <button class="btn-primary">SAVE & CLOSE</button>
</div>

<form [formGroup]="projectForm">

  <div class="form-group">
    <label for="project-code">Project Code*</label>
    <input id="project-code" class="form-control" type="text" formControlName="projectCode">
    <div *ngIf="projectCode.invalid && (projectCode?.touched || projectCode?.dirty)" class="text-danger">
      <div *ngIf="projectCode?.errors.required">Project Code is required</div>
      <div *ngIf="projectCode.errors?.minlength">Minimum 6 character are required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="project-title">Project Title*</label>
    <input id="project-title" class="form-control" type="text" formControlName="projectTitle" required>
    <div *ngIf="projectTitle?.touched && projectTitle?.invalid" class="text-danger">
      <div *ngIf="projectTitle?.errors.required">Project Title is required</div>
      <div *ngIf="projectTitle.errors?.minlength">Minimum 8 character are required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea id="description" class="form-control-plaintext description" cols="30" rows="10" formControlName="description"></textarea>
  </div>

  <div class="form-group">
    <label for="impl-status" class="form-label">Implementation Status*</label>
    <select id="impl-status" class="form-select"  formControlName="implStatus">
      <option [disabled]="true">Select</option>
      <option class="dropdown-item" *ngFor="let status of statuses" >{{status.value}}</option>
    </select>
    <div class="text-danger" *ngIf="implStatus?.invalid && implStatus.touched">
      Please enter Implementation status
    </div>
  </div>

  <app-duration (durationEvent)="getTimeData($event)"></app-duration>

</form>
<h3>Sectors</h3>
<app-sectors (sectorsEvent)="getSectorsData($event)"></app-sectors>
<h3>Locations</h3>
<app-locations (locationsEvent)="getLocationData($event)" ></app-locations>

