<form [formGroup]="locationTable">

  <table class="table table-bordered">
    <thead class="text-nowrap">
    <th>County</th>
    <th>District</th>
    <th>%</th>
    </thead>
    <tbody *ngFor="let location of locations">
    <td>{{location.county}}</td>
    <td>{{location.district}}</td>
    <td>{{location.locationPercent}}</td>
    </tbody>
  </table>

  <div class="">
    <div class="modal-body" *ngIf="addLocOpen">

      <h4>Add Project Location</h4>
      <button (click)="close()" class="btn-close"></button>

      <form [formGroup]="locationForm">

        <div>
          County <p class="required">*</p>
          <select class="form-select" formControlName="county" #countyVal>
            <option disabled>-Select-</option>
            <option *ngFor="let county of counties">{{county}}</option>
          </select>
        </div>

        <div>
          District
          <select class="form-select" *ngIf="getDist(countyVal.value)"  formControlName="district">
            <option disabled>-Select-</option>
            <option *ngFor="let district of districts">{{district}}</option>
          </select>
        </div>

        <div>
          <label for="locPercent">%</label>
          <input id="locPercent" formControlName="locationPercent">
        </div>

        <button (click)="isValid()" class="btn-success">Add</button>

        <div *ngIf="isLocInvalid" class="alert-danger">
          Your form is not valid.
          Please check what you entered!
        </div>
      </form>

    </div>
  </div>

  <button *ngIf="!addLocOpen" (click)="add()" class="btn-success">Add Location</button>
</form>
