<form [formGroup]="sectorTable">

  <table class="table table-bordered">
    <thead class="text-nowrap">
      <th >Sector Name <span>{{sortType % 3}}</span></th> <!--(click)="sortSecByName()"-->
      <th>%</th>
    </thead>
    <tbody *ngFor="let sector of projectSectors">
      <td>{{sector.sector.name}}</td>
      <td>{{sector.percent}}</td>
    </tbody>
  </table>

  <h5> Add Sector</h5>
  <form [formGroup]="sectorForm">

    <label>Sector <span class="required">*</span></label>
    <select class="form-select" formControlName="sectorName">
      <option disabled>-Select-</option>
      <option *ngFor="let sec of sectorTypes">{{sec.value}}</option>
    </select>
    <p class="text-danger" *ngIf="!sectorName.value && isSecInvalid">Sector field is required.</p>
    <p class="alert-danger" *ngIf="isSecInvalid && sectorName.value">{{sectorName.value}} sector already exists</p>
    <label>%</label>
    <input formControlName="sectorPercent">
    <p class="text-danger" *ngIf="!sectorPercent.value && isSecInvalid">You need to enter percentage of sector.</p>
  </form>

  <button class="btn-success" (click)="isSectorValid()">Add</button>

</form>
