<form [formGroup]="sectorTable">
   <table >  <!--class="table table-bordered"-->
    <thead > <!--class="text-nowrap"-->
      <th>Sector Name</th>
      <th>%</th>
    </thead>
    <tbody *ngFor="let sector of sectors">
      <td>{{sector.sectorName}}</td>
      <td>{{sector.sectorPercent}}</td>
    </tbody>
  </table>

  <h4> Add </h4>
  <form [formGroup]="sectorForm">
    <select formControlName="sectorName">  <!--class="form-select"-->
      <option disabled>-Select-</option>
      <option value="Agriculture">Agriculture</option>
      <option value="Administrative">Administrative</option>
      <option value="Tourism">Tourism</option>
      <option value="Health">Health</option>
    </select>

    <input formControlName="sectorPercent">  <!--class="input-group-lg"-->
  </form>


  <button (click)="addRow()">Add</button>
</form>
